#about {
    margin: 100px 0;
 }

#about .container{
    padding: 30px;
    border-radius: 20px;
    background-color: #03010e5e;
}

#about .about-container{
    padding: 20px 0 0 0;
}

#about .aboutContent > p{
    color: #c5c5c5;
    text-align: justify;
}

#about .aboutContent > p > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: space-between;
}

#about .aboutContent .box{
    padding: 15px 5px;
    text-align: center;
    border: 1px solid #c5c5c58f;
    border-radius: 30px;
}

#about .aboutContent .box > h2 {
    margin: 0;
    font-weight: 400;
}

#about .aboutContent p div .box > p {
    margin: 0;
    line-height: 35px;
    color: #929292;
}

#about .floatAboutImg{
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
    background: #0891B2;
    border-radius: 40px;
}

#about .aboutImage{
    width: 350px;
    background-color: #0891B2;
    border-radius: 40px;
    overflow: hidden;
}

@media (max-width: 1050px){
    #about .container{
        width: 90%;
        margin: 0 auto; 
        padding: 20px;
    }
    #about .about-container{ gap: 20px; }
}

@media (max-width: 970px){
    #about .floatAboutImg{ width: 300px; }
}

@media (min-width: 871px){
    #about .aboutImage{ display: none; }
}

@media (max-width: 870px){
    #about .aboutImage{ display: none; }
    #about .floatAboutImg{ display: none; }

}

@media (max-width: 550px){
    #about { margin: 50px 0; }

    #about .container { padding: 10px 10px 5px 10px; }

    #about .about-container{
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
    }

    #about .aboutImage{
        display: inherit;
        width: 95%;
        margin: 0 auto;
    }

    #about .aboutContent > p > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    #about .aboutContent > p > div > .box{
        width: 190px;
        padding: 5px 0;
        border-radius: 20px;
    }
    
    #about .aboutContent > p > div > .box > h2 { font-size: 17px; margin-top: 5px; }
    
    #about .aboutContent > p > div > .box > p {
        font-size: 14px;
        line-height: 25px;
    }

    #about .aboutContent > p{
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
        padding: 0 7px;
    }
}