.project{
    margin-top: 70px;
}

.project .projectShowContainer{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,300px);
    justify-content: space-between;
    padding: 0 20px;
}

.project .projectBox{
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    background-color: #172741;
}

.project .projectBox img {
    width: 100%;
    border-radius: 10px;
}

.project .projectBox .websiteName{
    font-size: 17px;
    margin: 0;
}

.project .projectBox > div{
    font-size: 14px;
    font-weight: 300;
    color: rgb(144, 144, 144);
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.project .projectBox a {
    color: #0891B2;
    padding: 5px 10px;
    background-color: #000c0eb6;
    border-radius: 10px;
}

.projectBox a:hover{
    text-decoration: underline;
    cursor: pointer;
}

/*----------------- Media Queries -------------------*/
@media only screen and (max-width:1000px){
    .project{ margin-top: 30px; }

    .project .projectShowContainer{
        padding-bottom: 30px;
        grid-template-columns: 300px 300px;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width:700px){
    .project{ margin-top: 20px; }

    .project .projectShowContainer{
        margin-top: 30px;
        padding-bottom: 30px;
        grid-template-columns: 250px 250px;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .project .projectBox{ padding: 10px; }

    .project .projectBox .websiteName{
        font-size: 18px;
    }
}

@media only screen and (max-width:550px){
    .project{ margin-top: 20px; }

    .project .projectShowContainer{
        grid-template-columns: 1fr;
        margin-top: 20px;
    
    }

    .project .projectBox{ 
        padding: 10px 10px 15px 10px;
    }
}