@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html{ font-family: 'Poppins', sans-serif; scroll-behavior: smooth; }
body { margin: 0; background-color: #04152d; color: #ffffff; }
*{ outline: none; text-decoration: none; box-sizing: border-box; }

@media only screen and (min-width: 1001px){
    .container{
        width: 1000px;
        margin: 50px auto;
    }
}

.sectionTitle{
    font-size: 40px;
    margin: 0;
    text-align: center;
}

.sectionTitle span{
    color: #0891B2;
}

.sectionHeadline{
    font-size: 20px;
    margin: 0;
    text-align: center;
    color: #949494;
}

@media only screen and (max-width:700px) {
    body{
        padding-bottom: 70px;
    }
}

@media only screen and (max-width: 550px){
    .sectionTitle{ font-size: 30px; font-weight: 500; }
    .sectionHeadline{ font-size: 17px; line-height: 15px; font-weight: 500; }
}